/*  your css code here. If applicable */
*{
	padding :0px;
	margin :0px;
}
body{
	background-color : #f5f5f5;
	
}
header{
	background-color : #011e29;
	color:white;
	text-align : center;
	padding :20px;
	
}

.container{
    display:flex;
	justify-content :center ;
	padding : 5%
	
}

.latest-news-section{
		background-color :white;
	border-radius : 20px;
	padding :5%;
	margin:10px;
	height : 120px;

	
}

.main{
	background-color :white;
	border-radius : 20px;
		padding :5%;
	height:100px;
}

h3{
	text-align : center;

}

.pictorial-news-section{
	background-color :white;
	border-radius : 20px;
		padding :5%;
		margin :2px;
}